@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-image:url(/assets/bg.png);
}


.navbar{
    display:flex;
    justify-content:space-between;
    margin: 0px 140px;
    
   
}
.logo{
    margin-top:20px;
}
.logo-png{
    display: flex;
    

}
#name{
    font-weight: bold;
    margin-left: 10px;
    font-size: 22px;
    
}


  
.main{
    display: flex;
    gap:32px;
    
   
    
} 
.main a{
    text-decoration: none;
}
li{
    list-style: none;
}
 .list-1{
    color:#FEA301;
    font-weight: 600;
    
}
.list-2{
    color:#01ACFD;
    font-weight: 600;
}
.list-3{
    color:#05D4DF;
    font-weight: 600;
}
.list-4{
color:#5D58EF;
font-weight: 600;
}
.btn{
   height:50px;
   width: 200px; 
   text-align: center;
   justify-content: center;
   background-color: #FEA301;
   border:none;
   border-radius:10px;
   font-weight: 500;
   font-size: 20px;
   color:white;
  padding:10px;
}
.nav .main{
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center;
}

/* now i am style banner section */
.parent-banner{
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.parent-banner{
    /* border:2px solid gray; */
    width:85%;
    min-height:575px;
    /* margin-top:10px;
    margin-left: 120px; */
    margin:10px auto;
    justify-content: space-between ;
    align-items: center;
    
    
}
.banner-img{
    display: flex;
    justify-content: end;
}
.banner-title{
    font-weight: 700px;
    font-size: 56px;
}
.span{
    color:#FEA301;
}
.span-1{
    color:#01ACFD;
}
.banner-description{
    font-size:20px;
}
.enroll-btn{
    border-radius:12px;
    background-color:black;
    color:white;
    font-size: 20px;
    font-weight: 700px;
    width: 200px;
    height: 50px;
    opacity: 100%;
    margin-top:24px;
    margin-bottom: 60px;

}

/* now i am style main */

.main-div{
    
    width:83%;
    height:880px;
    margin:20px auto;
    /* border: 2px solid red; */
}
.standard{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* margin:30px auto; */
 
  
 
}
.main-title{
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.kinder-title{
    margin-top: 40px;
}
.kinder-description{
margin-top: 40px;
}
.kinder-read{
   margin-top: 40px;
   color:#01ACFD;
}
.kinder{
    border:2px solid gray; 
    width: 367px;
    height: 476px;
    border-radius:18px;
    margin-left: 20px;
    text-align: center;
    background-image: linear-gradient(#DEF5FF,white);
 
    

}

.school{
    border:2px solid gray;
    
    width: 367px;
    height: 476px;
    border-radius:18px;
    margin-left: 40px;
    text-align: center; 
    background-image: linear-gradient(#FFF4DC,white);
}
.school-title{
    margin-top: 40px;
}
.school-description{
    margin-top: 40px;
}
.school-read{
    color:#F0AA00;
}
.middle{
    border:2px solid gray;   
    width: 367px;
    height: 476px;
    border-radius:18px;
    text-align: center;
    margin-left: 60px;
    background-image: linear-gradient(#F2E8FF,white);
  
    
}
.middle-title,.middle-description{
    margin-top: 40px;

}
.middle-read{
    color:#8700FF; 
}

/* now i am style our story section */
.our-story{
    width: 90%;
    height: 1000px;
    /* border:2px solid silver; */
    margin: 140px ;

}
.story-title{
   font-weight: 700px;
   font-size:46px;
   text-align:center;
   margin-bottom: 20px;
}
.main-parent{
 display: grid;
 grid-template-columns:repeat(2,1fr) ; 
 gap:5px;  
 margin:150px 140px;
 border-radius: 20px;
 background-image:linear-gradient(white,#FFE6B9);
 


}

.parent{
  width:540px;
  height: 630px; 
  /* border:2px solid gray; */
  border-radius: 10px; 
}
.parent .story-btn{
    color:white;
    background-color:#05D4DF;
    border-radius:46px;
    width:175px;
    height:48px;
    border:none;
    margin-left: 40px;
    margin-top: -200px;
    
}
.story-sub-title{
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.story-title{
    margin-top:100px;
}
.story-description{
    font-weight: 600;
    font-size: 15px;
    color:#666666;
    margin-top: 40px;
}
.child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.fahim{
    color:white;
    background-color: rgb(120, 174, 120);
    
    width: 100;
    height: 50px;
    border-radius: 20px;
    border:none;
    margin-top: -140px;
}
.find{
text-align:start;
}
#view{
    width: 130px;
    height: 50px;
    border-radius: 20px;
    border:none;
    color:white;
    background: #000;
    margin-left: 50%;
    margin-bottom:40px ;
  
}



/* responsive for mobile device */            

@media screen and (max-width:576px) {
.navbar,.parent-banner{
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

  
}
    /* now i style kids */
} 
.kids{
    background:#01ACFD;
    width: 90%;
    height: 520px;
    margin:20px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    
    
}
.education{
    color:white;
    align-items: start;
    margin-top: 25%;
}
.about-school{
    color:white; 
    margin-top: 25%;
    text-align: center;
    padding:10px;
}
#farhan{
    font-size:13px;
}

/* #kid-img{
    width:82px;
    height:81px;
} */ 



/* responsive main menu */
@media screen and (max-width:576px){
    .standard{
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap:20px;
    }
}
 /* responsive main style */
 @media screen and (max-width:576px) {
    .our-story{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    
 }
 @media screen and (max-width:576px) {
    .main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        justify-content: center;
    }
 }
    /* @media screen and (max-width:576px) {
        .main-parent{
       display: grid;
       grid-template-columns:1fr;
       text-align: center;

        }
    } */
