@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-image:url(/assets/bg.png);
}


.navbar{
    display:flex;
    justify-content:space-between;
    margin: 0px 140px;
    
   
}
.logo{
    margin-top:20px;
}
.logo-png{
    display: flex;
    

}
#name{
    font-weight: bold;
    margin-left: 10px;
    font-size: 22px;
    
}


  
.main{
    display: flex;
    gap:32px;
    
   
    
} 
.main a{
    text-decoration: none;
}
li{
    list-style: none;
}
 .list-1{
    color:#FEA301;
    font-weight: 600;
    
}
.list-2{
    color:#01ACFD;
    font-weight: 600;
}
.list-3{
    color:#05D4DF;
    font-weight: 600;
}
.list-4{
color:#5D58EF;
font-weight: 600;
}
.btn{
   height:50px;
   width: 200px; 
   text-align: center;
   justify-content: center;
   background-color: #FEA301;
   border:none;
   border-radius:10px;
   font-weight: 500;
   font-size: 20px;
   color:white;
  padding:10px;
}
.nav .main{
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center;
}

/* now i am style banner section */
.parent-banner{
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.parent-banner{
    /* border:2px solid gray; */
    width:85%;
    min-height:575px;
    /* margin-top:10px;
    margin-left: 120px; */
    margin:10px auto;
    justify-content: space-between ;
    align-items: center;
    
    
}
.banner-img{
    display: flex;
    justify-content: end;
}
.banner-title{
    font-weight: 700px;
    font-size: 56px;
}
.span{
    color:#FEA301;
}
.span-1{
    color:#01ACFD;
}
.banner-description{
    font-size:20px;
}
.enroll-btn{
    border-radius:12px;
    background-color:black;
    color:white;
    font-size: 20px;
    font-weight: 700px;
    width: 200px;
    height: 50px;
    opacity: 100%;
    margin-top:24px;

}

/* responsive for mobile device */
@media screen and (max-width:576px) {
.navbar,.parent-banner{
    flex-direction: column;
    
  
}
    
} 
    
